* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
}

.section-deiscription {
    font-size: 14px;
    color: white;
    font-weight: 400;
}

.button-paimary {
    border: 0;
    border-radius: 5px;
    background: #FFF;
    padding: 16px 25px;
    color: #005FAC;
    margin-top: 20px;
}

main {
    margin: auto;
    max-width: 1000px;
}

/* header part style is here  */

.header {
    height: 700px;
    background-image: url(../images/banner/banner3.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-container {
    text-align: right;
    padding: 180px 200px 0 730px;
}

.header-title {
    font-size: 52px;
    color: white;
    font-weight: 700;
    margin-bottom: 20px;
}

/* my failures info  part style is here  */

.failures {
    display: flex;
    gap: 120px;
    margin-top: 130px;
}

.failures>img {
    width: 451px;
    height: 558px;
}

.my-failures-info {
    margin-top: 160px;
}

.failures-title {
    color: var(--dark-01, #151414);
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 30px;
}

.my-failures-info p {
    color: var(--dark-02, #444343);
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    padding-right: 80px;
}

.my-failures-info>p {
    margin-bottom: 15px;
}

.failure {
    display: flex;
    text-align: center;
}

.failure img {
    margin-right: 10px;
}

/* why failures part style is here  */

.why-fail-part {
    text-align: center;
    margin-top: 130px;
}

.why-fail-part h3 {
    color: var(--dark-01, #151414);
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 26px;
}

.why-fail-part>p {
    font-size: 18px;
    font-weight: 700;
    color: #444343;
}

.why-fail img {
    width: 80px;
    height: 80px;
    margin: 40px 0 20px 0;
}

.why-failures-info {
    margin-top: 40px;
    display: flex;
    gap: 30px;
}

.why-fail {
    box-shadow: 0px 0px 10px gray;
    border-radius: 6px;
    text-align: center;
    padding: 0 25px 20px;
}

.why-fail h4 {
    font-size: 20px;
    margin-bottom: 22px;
}

.why-fail p {
    color: #444343;
    font-size: 15px;
    font-weight: 400;
    line-height: 23px;
}